---
http_interactions:
- request:
    method: get
    uri: https://connect.mailerlite.com/api/groups?filter%5Bname%5D=pre-launch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <MAILERLITE_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"222","name":"pre-launch"}]}'
  recorded_at: Mon, 13 Jul 2026 00:00:00 GMT
- request:
    method: post
    uri: https://connect.mailerlite.com/api/subscribers
    body:
      encoding: UTF-8
      string: '{"email":"bad@example.com","groups":["222"]}'
    headers:
      Authorization:
      - <MAILERLITE_API_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"The email must be a valid email address.","errors":{"email":["invalid"]}}'
  recorded_at: Mon, 13 Jul 2026 00:00:00 GMT
recorded_with: VCR 6.3.1
